@font-face {
  font-family: Ubuntu-Light;
  src: url('../fonts/Ubuntu-Light.ttf') format('truetype');
} 

@font-face {
  font-family: Ubuntu-Medium;
  src: url('../fonts/Ubuntu-Medium.ttf') format('truetype');
} 

@font-face {
  font-family: Ubuntu-Bold;
  src: url('../fonts/Ubuntu-Bold.ttf') format('truetype');
} 

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative; 
  top: -30px; 
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    font-family: 'Ubuntu-Regular', sans-serif; 
}

.login-title {
    font-family: 'Ubuntu-Bold', sans-serif;
    font-size: 30px;
    color: #403866;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: block;
    position: relative; 
    top: -10px; 
}
  
.input-field {
  font-family: 'Ubuntu-Bold', sans-serif;
  color: #403866;
  line-height: 1.2;
  font-size: 18px;
  display: block;
  width: 80%; 
  height: 5px; 
  padding: 30px; 
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid transparent;
  background-color: white;
}

  
.login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.forgot-link {
    font-family: 'Ubuntu-Light', sans-serif; 
    color: #007bff;
    text-decoration: none;
}

.forgot-link:hover {
    text-decoration: underline;
}
  
.login-button {
    font-family: 'Ubuntu-Medium', sans-serif; 
    width: 100%;
    padding: 15px; 
    font-size: 18px; 
    height: auto; 
    background-color: #827ffe; 
    color: white; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}

.error-message {
    font-family: 'Ubuntu-Medium', sans-serif; 
    color: red;
    margin-top: 10px;
}
